    <!-- About Section -->
    <section id="current" class="container content-section text-center">
        <div class="research-section">
        		 <div class="container">
	            <div class="col-lg-8 col-lg-offset-2">
	                <h2>PhD Research</h2>
	                <p>
	    					<a href="http://www.sfu.ca/biology/wildberg/" target="_blank"><img src="/img/CWElogo.jpg" width="209" height="125" alt="CWE" longdesc="Centre for Wildlife Ecology at SFU" border="10"/></a>
	<a href="http://www.bsc-eoc.org/"target="_blank" ><img src="/img/bsclogo.jpg" width="167" height="125" alt="BSC" longdesc="Bird Studies Canada" border="10" /></a>
	<a href="http://www.sfu.ca/" target="_blank"><img src="/img/SFU_logo.jpg" width="250" height="125" alt="SFU" longdesc="Simon Fraser University" border="10" /></a>
	

	</p>
	<p>    
   Currently, population status migrating shorebird species are determined through laborious counts that provide unreliable population trends only after many years of work. I explored the role that behavioural variation to changing conditions can play in shaping the counts of shorebirds on migration.

    You can learn more about this project at the <a href="https://www.sfu.ca/biology/wildberg/NewCWEPage/takingthepulse/index.html">project webpage</a>
	</p>
	            </div>
	            </div>
        </div>
    </section>