    <!-- About Section -->
    <section id="research" class="container content-section text-center">
        <div class="research-section">
        		 <div class="container">
	            <div class="col-lg-8 col-lg-offset-2">
	                <h2>Research Interests</h2>
	                <p>
	    I began my career thinking biology was a way to save the planet. I learned pretty early on that to generate the evidence required to save anything you needed an understanding of the behaviour of animals, good field methodology, strong statistical skills, and the ability to use theory to model that which cannot be measured. In the end I'm interested in accurately monitoring and measuring the species that we share our planet with. I have worked with various study species including western and semipalmated sandpipers,dunlins, raccoons, deer mice, black bears, blue and great tits, and reindeer.
	</p>
	            </div>
	            </div>
        </div>
    </section>