    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="download-section">
        		 <div class="container">
	            <div class="col-lg-8 col-lg-offset-2">
	                <h2>Research Interests</h2>
	                <p>
	    My research interests lay in behavioural ecology and conservation biology. I have a strong statistical background, but fieldwork really is the carrot that drives me forward. I have worked with various study species including western sandpipers, raccoons, deer mice, black bears, blue and great tits, and reindeer.
	</p>
	            </div>
	            </div>
        </div>
    </section>